@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400;1,600&family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap%27');
@font-face {
  font-family: 'bewareregular';
  src: url('beware__-webfont.woff2') format('woff2'),
       url('beware__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --primary-color: rgb(240, 235, 235);
  --secondary-color: rgb(20, 20, 20);
  --third-color: #E5E6E4;
  --text-color-light: rgb(240, 235, 235);
  --text-color-dark: rgb(20, 20, 20);

  --title-font: 'bewareregular', sans-serif;
  --text-font: 'Montserrat', sans-serif;

}

* {
  list-style: none;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
  display: flex;
  align-items: flex-end;
  font-size: 4vw;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, rgba(132,117,119,1) 17%, rgba(255,255,255,1) 66%);
  /* background: linear-gradient(0deg, rgba(132,117,119,1) 12%, rgba(198,187,188,1) 51%, rgba(247,239,239,1) 100%); */
}


/* début navbar */
nav {
  width: 100%;
  background-color: var(--secondary-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  line-height: 1;
  align-items: center;
}

li {
  display: inline-block;
  position: relative;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-family: var(--title-font);
  font-size: 1.7vw;
  transition: 0.3s ease;
  cursor: pointer;
}

li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A6A2A2;
    transition: width .3s;
}

a:hover::after {
  width: 100%;
}

#menuIcon {
  display: none;
}
/* fin navbar */

@media screen and (max-width: 650px){

  
/* début footer */
  
  ul {
    line-height: 1;
  }
  
  nav {
    display: flex;
  }

  li{
    display: none;
  }

  li a, #menuIcon {
    display: block;
    font-size: 3vw;
  }

  .navbar.responsive {
    flex-direction: column;
  }
  
  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  li:hover::after {
    width: 100%;
  }

  }
/* fin footer */