@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400;1,600&family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap%27');
@font-face {
  font-family: 'bewareregular';
  src: url('beware__-webfont.woff2') format('woff2'),
       url('beware__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
h1 {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: flex-end;
  justify-content: center;
  font-family: 'bewareregular';
  font-size: 50px;
 }

html {
  background: rgb(132,117,119);
  background: linear-gradient(0deg, rgba(132,117,119,1) 17%, rgba(255,255,255,1) 66%);
}

main {
  width: 100%;
  height: 82%;
}

.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  justify-content: center;
}

.mySlides img{
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 43%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  transition-duration: 1s;
  background-color: #717171;
}


@media screen and (max-width: 600px) { 
  .mySlides img{
    width: 100%;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
  }

  header{
    height: 20vh;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .logo {
    display: flex;
    align-items: center;
    width: 20vw;
  }

  .holderImage {
    width: 30vw;
  }

  .social > i {
    padding-top: 1vh;
    font-size: 6vw;
  }

  .holderSocial {
    width: 30vw;
    align-items: flex-start;
  }

  .titrepage {
    font-size: 126%;
   }
  } 